<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style5.css">  
</head>
<body>
  <header><%- include ('partials/navbar.ejs') %></header>
  
  <div class="container">
    <div class="text">
      <h1>Crash Courses For Starting a Web Developer Career</h1>
    </div>
    <div class="text">
      JAVASCRIPT
      </div> 
    <span><form class="status">
  <input type="checkbox" id="html" name="status" value="completed">
  <label for="html">Completed</label><br>
</form></span>  
    <div class="iframe-container">
      
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jS4aFq5-91M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div>
    <div class="text1">
        JavaScript ("JS" for short) is a full-fledged dynamic programming language that can add interactivity to a website. It was invented by Brendan Eich (co-founder of the Mozilla project, the Mozilla Foundation, and the Mozilla Corporation).<br>

        JavaScript is versatile and beginner-friendly. With more experience, you'll be able to create games, animated 2D and 3D graphics, comprehensive database-driven apps, and much more!<br>

        JavaScript itself is relatively compact, yet very flexible. Developers have written a variety of tools on top of the core JavaScript language, unlocking a vast amount of functionality with minimum effort.


        </div>
     <div class="text">
        HTML
      </div>
      <span><form class="status">
  <input type="checkbox" id="html" name="status" value="completed">
  <label for="html">Completed</label><br>
</form></span>  
    <div class="iframe-container">
     
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pQN-pnXPaVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </div>
    <div class="text1">
      HTML stands for Hyper Text Markup Language<br>
      HTML is the standard markup language for creating Web pages<br>
      HTML describes the structure of a Web page<br>
      HTML consists of a series of elements<br>
      HTML elements tell the browser how to display the content<br>
      HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.<br>
      </div>
    <div class="text">
        CSS
       </div>
       <span><form class="status">
  <input type="checkbox" id="html" name="status" value="completed">
  <label for="html">Completed</label><br>
</form></span>  
    <div class="iframe-container">
       
       <iframe width="560" height="315" src="https://www.youtube.com/embed/1Rs2ND1ryYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
    </div>
    <div class="text1">
      CSS stands for Cascading Style Sheets<br>
      CSS describes how HTML elements are to be displayed on screen, paper, or in other media<br>
      CSS saves a lot of work. It can control the layout of multiple web pages all at once
      External stylesheets are stored in CSS files<br>
      </div>

    
  </div>
</body>
</html>