<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
     <div class="wrapper">
        <div class="logo">
            <h1>EduGuru</h1>
        </div>
<ul class="nav-area">
<li><a href="/index">Home</a></li>
<li><a href="/courses">My Courses</a></li>
<li><a href="/tasks">Tasks</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li><form action="/logout" method="POST">
          <button class="out" type="submit">LOG OUT</button>
</form></li>
</ul>
</div>
</body>
</html>